label {
            margin-top: 1em;
        }

        button {
            margin-top: 1rem;
            margin-bottom: 1rem;

        }

        h1 {
            font-size: 2.5 rem;
        }

        a {
            margin-bottom: 1rem;
        }
